@charset "UTF-8";

/* Config. orientação de tela "deitada" (landscape) */

body {
    background-image: url(../imagens/cev-landscape.jpg);
    margin-top: 0px;
    margin-left: 0px;
    background-position: left bottom;
}
